<div class="welcome-page">

    <div class = "welcome-message">

        <h1>Welcome to our School!</h1>

        <img src ="https://upload.wikimedia.org/wikipedia/en/thumb/c/c1/South_Florida_Bulls_logo.svg/800px-South_Florida_Bulls_logo.svg.png">

        <h3> We are committed to excellence!</h3>

        <h3> Our Mission: </h3>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id sint aliquid labore iusto laudantium, nam enim veniam eveniet voluptates, mollitia delectus, nostrum sunt eaque praesentium dicta nobis! Officia, qui in.</p>


    </div>


</div>