#main{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#courses-container{
    width: 800px;
    height: 100px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.course{
    margin: 50px;
    padding:10px;
    border: solid black 2px;
    border-radius: 10px;
    text-align: center;
}

.navbar{
    background-color: #00a1e4;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.nav-list {
    list-style-type: none;
    width: 100%;
    margin: auto;
}

.nav-item{
    float: left;
    display: block;
    height: 80px;
    line-height: 80px;
}

.nav-link{
    color: black;
    text-align: center;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.5rem;
}

#logo {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    object-fit: cover;
    position: relative;
    top: 12%;
}

#login-button {
    background-color: #000770;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
}

#header {
    margin-top: 100px;
}