#course-main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#course-container {
    width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.course {
    margin: 50px;
    padding: 10px;
    border: solid black 2px;
    border-radius: 10px;
    text-align: center;
} 