<div class = 'navbar'>
    <ul class = 'nav-list'>
        <li class = 'nav-item'>
            <a class = "nav-link" href = '#'>
                <img src = "https://upload.wikimedia.org/wikipedia/en/thumb/c/c1/South_Florida_Bulls_logo.svg/800px-South_Florida_Bulls_logo.svg.png"
                height = "60px" width = "60px" id = 'logo'>
            </a>
        </li>
        <li class = 'nav-item'>
            <a class = "nav-link" href = '#'>Courses</a>
        </li>
        <li class = 'nav-item'>
            <a class = "nav-link" href = '#'>User Profile</a>
        </li>
        <li class = 'nav-item'>
            <a class = "nav-link" href = '#'>Enroll</a>
        </li>
        <li class = 'nav-item'>
            <button id="login-button" onclick = "window.location.href = '#'">Student Login</button>
        </li>
    </ul>
</div>