<!-- I'mm adding the navbar component to the top of the app.component.html since I want it to appear above everything else -->
<navbar style="position:fixed; top: 0; left:0; background-color: #115740;"></navbar>

<!-- Theoretically to have this appear above everything else we'll everything above this to stay constant
        and everything below this need some ability to change pages/views -->

<!-- We won't worry about this for right now this will involve routing which we'll get into soon -->
<!-- <h1 style="margin-top: 100px;" > Welcome to Angular! </h1>
<welcome-page></welcome-page>
<course-page></course-page> -->

<router-outlet></router-outlet>